{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Fondo de Pantallla</h1>
        <p>Este es mi fondo de pantalla</p>
    </div>

    <div class="col-4">
        <img src="assets/img/test.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}